.logoMarca {
    width: 20px;
    height: 20px;
}

.logoDis {
    width: 40px;
    height: 40px;
    align-items: center;
}

.carousel-item {
    height: 400px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 50px;
}

.resto {
    max-width: 100%;
    height: 200px;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, Auto);
    grid-gap: 30px;
}

.cheff{
    max-width: 100%;
    height: 200px;
    margin-top: 50px;
}

.contPadre{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

@media (max-width: 768px) {
    .contPadre {
    grid-template-columns: repeat(2, 1fr);
    }
}

    @media (max-width: 480px) {
    .contPadre {
    grid-template-columns: 1fr;
    }
}

