.seccion-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.item {
    width: 25%;
    text-align: center;
    margin: 1%;
    border-radius: 5%;
    border: black solid 1px;
}

.item img {
    width: 50%;
    height: auto;
    margin: 5px;
}

.boton-comprar {
    background-color: #2d8faf;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .item {
        width: 45%;
        text-align: center;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .item {
        width: 100%;
        text-align: center;
        padding: 15px;
    }
}

.tituloTienda {
    animation: animarTienda 3s ease-in-out;
}

@keyframes animarTienda {
    0% {
        font-size: 20px;
    }

    50% {
        font-size: 25px;
        color: #7aafd3;
    }

    100% {
        font-size: 20px;
    }
}