.seccion-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.item {
    width: 30%;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 5%;
    border: black solid 1px;
}

.item img {
    width: 33%;
    height: auto;
}

@media (max-width: 768px) {
    .item {
        width: 45%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .item {
        width: 100%;
        text-align: center;
    }
}