article {
    flex-basis: 30%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

article h2 {
    margin-bottom: 10px;
}
.special{
    border:none;
}

.cheff{
    margin-top: 50px;
    display: flex;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}