.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-left: 15px;
}
.contenedor2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
    margin-left: 15px;
}

.contenedor3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    text-align: center;
    margin-left: 120px;
}

@media (max-width: 768px) {
    .contenedor3{
        margin-left: 10px;
    }
}
.column1,
.column2,
.column3,
.column4 {
    width: 90%;
    background: linear-gradient();
    border-radius: 5px;
    border: black solid 1px;
    margin: 5px;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .contenedor, .contenedor2 {
        grid-template-columns: 1fr;
    }
}

.testimonios{
    width: 50%;
    height: auto;
}

.special {
    border: none;
}

.cheff {
    margin-top: 50px;
    display: flex;
}

.comunidad {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.formuStyle{
    margin-block: 30px;
}